PORT=8080
HOST=localhost
DB_URI=your-database-uri-here
JWT_SECRET=your-secret-key-here
#node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
#run command above to take a random secret key
